*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* Header Section */

.header{
    background-color: antiquewhite;
    padding: 20px;
    text-align: center;
}
 /* Navigation */

.nav {
    background-color: #333;
    position: sticky;
    top: 0;
}

.nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin: 0px 20px;
    font-size: 1.2em;
    padding: 15px;
}
.nav a:hover {
    background-color: #0b0b0b;
}
 /* about right flex  */
/* .right {
    float: right;
} */
/* Body Section */
.body-section {
    display: flex;
    /* height: 300v; */
    flex-direction: row;
}
/* section left */
.section-left {
    width: 73%;
    margin: 1%;
    display: block;
    
}
.sec {
    margin: 15px;
    padding: 15px;
    background-color: bisque;
    border-radius: 15px;
}
.sec p {
    text-align: justify;
    font-size: 1.5em;
}
.sec h1 {
    font-size: 3em;
}
/* section right  */
.section-right {
    width: 25%;
    margin: 1%;
}
.side {
    padding: 10px;
    background-color: bisque;
    margin-bottom: 20px;
}
.section-right .popular {
    height: 40vh;
}
 /* footer section  */
.footer{
    padding: 30px;
    background-color: #333;
    text-align: center;
    color: #fff;
    font-size: 2em;
}